.App {
  font-family: sans-serif;
}
.movie-list{
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(340px,1fr));
  grid-gap: 1rem;
  gap: 1rem;
  justify-items: center;
}
.movie-container{
 width: 340px;
}
.movie-name{
  font-size: 24px;
  margin:0;
}
.movie-mini{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.movie-detail{
  font-size: 10px;
}
.movie-summary{
  text-align: justify;
}
img{
  width: 340px;
  height: 640px;
  object-fit: cover;
}
.likes{
  display: flex;
  align-items: center;
  justify-content:space-evenly;
}
span{
  color: red;
}
.title{

  color: aliceblue;
}
.Addmovies{
  display: flex;
  flex-direction: column;
}
.inputsec{
  display: flex;
  flex-direction: column;
  gap: 1px;
  align-items: center;
}
input{
  width: 500px;
}
#addmoviename{
  text-align: center;
  background-color: rgb(28, 147, 237);
}
.not-found{
  width: 100%;
  object-fit: contain;
  max-height: 700px;
}
.movie-detail-container{
  max-width: 900px;
}